// colors
$white                  : #FFFFFF;
$black                  : #000000;
$color-dark             : #21243D;
$color-red              : #FF6464;
$color-effect           : #EDF7FA;
$color-blue             : #00A8CC;
$color-gray             : #E0E0E0;
$color-light-gray       : #8695A4;

// transition
$fast                   : .2s;
$normal                 : .5s;


// breakpoints
$screen-sm-max          : 767px;
$screen-sm-min          : 768px;