@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');
@import './button';
@import './media-queryes';
@import './variables';
@import './mixin';

*, :before, :after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    position: relative;
    min-width: 320px;
    width: 100%;
    overflow-x: hidden;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: $color-dark;
}

body, button, ul, ol, h1, h2, h3, h4, h5, h6, p, fieldset, figure, dl, dd, blockquote {
    margin: 0;
}

ul, ol, fieldset, button, th, td {
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

button {
    font-family: 'Heebo', sans-serif;
    background-color: transparent;
    cursor: pointer;
}

button, fieldset {
    border: 0;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: none;
}

strong, b, h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

address, i {
    font-style: inherit;
}

img, svg {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: top;
    user-select: none;
}

svg {
    display: block;
}

[tabindex],
button {
    &:focus {
        outline: none;
    }
}

::-moz-focus-inner {
    border:0;
}

/* Disable scroll */

.disable-scroll {
    overflow: hidden;
}

/* Container */

.container {
    max-width: 74.3%;
    margin: 0 auto;

    @include mobile {
        max-width: initial;
    }
}

/* sticky footer */

#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
        flex-grow: 1;
    }
}

/* header burger menu */
.bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    right: 18px;
    top: 20px;
}

.bm-burger-bars {
    background: #373a47;
}

.bm-burger-bars-hover {
    background: #a90000;
}

.bm-cross-button {
    height: 24px;
    width: 24px;
}

.bm-cross {
    background: $white;
}

.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

.bm-menu {
    background: #373a47;
}

.bm-morph-shape {
    fill: #373a47;
}

.bm-item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;
}

.bm-item {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;

    &:last-child {
        margin-bottom: 0;
    }
}

.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

/* Theme */

:root {
    // Общие стили и переменные
    --main-font: 'Heebo', sans-serif;
}
  
.light-theme {
    background-color: $white;
    color: $color-dark;

    .theme-change ul li > div {
        background-color: $white;
    }

    header {
        @include hover-underline-animation($color-dark);
    }
}

.dark-theme {
    background-color: $color-dark;
    color: $white;

    .theme-change ul li > div {
        background-color: $color-dark;

        span:first-child {
            border-right: 1px solid $white;
        }
    }

    .year-change {
        background-color: $white !important;
        color: $color-dark !important;
    }

    .recent-theme-bg {
        background-color: $color-theme-light-gray;
    }

    header {

        @include hover-underline-animation($white);

        svg {
            stroke: $white;
            
            path {
                stroke: $white;
            }
        }
    }
    

    footer svg path {
        fill: $white;
    }

    form {

        input, textarea {
            background-color: $color-dark;
            color: $white;
        }
    }
}

body {
    font-family: var(--main-font);
    transition: background-color 0.3s ease, color 0.3s ease;
}