@import '@/styles/media-queryes';
@import '@/styles/mixin';

.header {
    position: absolute;
    top: 0;
    width: 100%;

    @include hover-underline-animation;
    
    a {
        font-weight: 500;
        font-size: 20px;
    }

    ul {
        display: flex;
        justify-content: flex-end;
        margin-right: 60px;
    }

    li {
        margin-right: 33px;

        &:last-child {
            margin-right: 0;
        }
    }

    .mobile {
        display: none;
        
        a {
            font-size: 25px;
        }
    }

    @include desktop {
        padding-top: 27px;
    }

    @include mobile {
        .mobile {
            display: block;
        }

        .desktop {
            display: none;
        }
    }
}