@import '@/styles/media-queryes';
@import '@/styles/mixin';
@import '@/styles/variables';

.header {
    position: absolute;
    top: 0;
    width: 100%;
    
    a {
        font-weight: 500;
        font-size: 20px;
    }

    ul {
        display: flex;
        justify-content: flex-end;
        margin-right: 60px;
    }

    > nav li {
        margin-right: 33px;

        &:last-child {
            margin-right: 0;
        }
    }

    .active {
        color: $color-red;
        pointer-events: none;
    }

    .halfActive {
        color: $color-red;
    }

    .mobile {
        display: none;
        
        a {
            font-size: 25px;
        }
    }

    button {
        margin-left: res(20, 60);
    }

    @include desktop {
        padding-top: 27px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @include mobile {
        .mobile {
            display: block;
        }

        .desktop {
            display: none;
        }

        button {
            position: absolute;
            top: 20px;
        }
    }
}