@import '@/styles/variables';
@import '@/styles/mixin';
@import '@/styles/media-queryes';

.works {
    padding: res(25, 35) 18px 83px;

    &.worksPageStyles {
        .worksItem {
            padding-bottom: res(17, 35);
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .worksWrapper {
        display: flex;
        flex-direction: column;
        gap: 31px;
    }

    .label {
        display: block;
        margin-bottom: res(24, 44);
        font-size: res(18, 22);
    }

    .worksItem {
        display: flex;
        align-items: center;
        padding-bottom: 30px;
        border-bottom: 1px solid $color-gray;
    }
    
    .options {
        span {
            &:first-child {
                margin-right: res(22, 26);
                padding: 1px 10px;
                font-weight: 900;
                font-size: res(16, 18);
                background-color: $color-dark;
                border-radius: 16px;
                color: $white;
            }

            &:last-child {
                font-size: res(16, 20);
                line-height: 1.45;
                color: $color-light-gray;
            }
        }
    }

    .actions {
        display: flex;
        text-align: center;
        margin-top: 10px;

        a {
            width: 150px;

            &:first-child {
                margin-right: 20px;
            }
        }
    }

    h2 {
        font-weight: 700;
        font-size: res(24, 30);
        line-height: 1.46;
        margin-bottom: 16px;
    }

    p {
        margin-top: res(24, 20);

        + a {
            display: block;
            text-align: center;
            margin-top: 10px;
        }
    }

    h1 {
        margin: 100px 0 res(13, 25);
        font-weight: 900;
        font-size: res(30, 44);
        line-height: 1.36;
    }

    img {
        border-radius: 6px;
    }

    @include desktop {
        .worksItem {
            gap: 18px;
        }

        .imageWrapper {
            flex-shrink: 0;
        }
    }

    @include mobile {

        .label {
            text-align: center;
        }

        .worksItem {
            flex-direction: column;
        }

        .worksContent {
            text-align: center;
        }

        .imageWrapper {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-bottom: 17px;

            img {
                width: auto;
                height: 230px;
            }
        }

        .actions {
            justify-content: center;
        }

        p + a {
            margin: 20px auto 0;
        }
    }

}