@import '@/styles/variables';
@import '@/styles/mixin';
@import '@/styles/media-queryes';

.fullPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 148px 18px 27px;

    .main {
        text-align: left;
        margin-top: res(30, 54);
    }

    .shortDescription {
        text-align: left;
    }

    .mainHeadingItem {
        li {
            display: flex;
            flex-direction: column;
            margin-bottom: res(23, 54);
        }
    }

    .options {
        justify-content: flex-start !important;
    }

    p {
        max-width: 681px;
    }

    img {
        margin-top: res(24, 30);
    }

    @include mobile {
        text-align: center;

        .options {
            justify-content: center !important;
        }
    }
}